:root {
    --primary-txt-color: #212121;
    --secondary-txt-color: #757575;
    --primary-bgc: #FFFFFF;
    --secondary-bgc: #2F303A;
    --hover-color: #2196F3;
}

body {
    color: var(--primary-txt-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}

.centered {
    display: flex;
    align-items: center;
}

.header {
    font-weight: 500;
}

.header-nav .nav-link {
    color: inherit;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-link.current {
    color: var(--hover-color);
}

.header-nav .nav-link:hover,
.contacts .contacts-link:hover {
    color: var(--hover-color);
}

.nav-pages {
    margin-left: 93px;
    letter-spacing: 0.02em;
}

.nav-pages .nav-item+.nav-item {
    margin-left: 50px;
}

.contacts.centered {
    margin-left: auto;
}

.contacts-item {
    display: flex;
    align-items: center;
}

.contacts.centered>.contacts-item+.contacts-item {
    margin-left: 50px;
}

.contacts-item::before {
    content: '';
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}

.contacts-item:nth-child(1)::before {
    background-image: url(../img/envelope.svg);
}

.contacts-item:nth-child(2)::before {
    background-image: url(../img/mobile.svg);
}

.contacts .contacts-link {
    color: var(--secondary-txt-color);
}

.hero {
    color: #FFFFFF;
    background-color: var(--secondary-bgc);
    height: 600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/headerbg.jpg);
}

.hero-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.button {
    min-width: 200px;
    color: #FFFFFF;
    background-color: var(--hover-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
}

.feature-item {
    width: 270px;
}

.feature-item+.feature-item {
    margin-left: 30px;
}

.feature-item::before {
    display: block;
    content: '';
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}

.feature-item:nth-child(1)::before {
    background-image: url(../img/features-img/1.svg);
}

.feature-item:nth-child(2)::before {
    background-image: url(../img/features-img/3.svg);
}

.feature-item:nth-child(3)::before {
    background-image: url(../img/features-img/3.svg);
}

.feature-item:nth-child(4)::before {
    background-image: url(../img/features-img/4.svg);
}

.feature-svg {
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.feature-title {
    margin-bottom: 10px;
}

.feature-phrase,
.team-position {
    color: var(--secondary-txt-color);
}

.feature-phrase {
    margin-bottom: 94px;
    font-weight: 400;
    line-height: 1.71;
}

.gallery-title {
    margin-bottom: 50px;
}

.gallery-item+.gallery-item {
    margin-left: 30px;
}

.our-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
}

.team-item+.team-item {
    margin-left: 30px;
}

.team-member {
    margin-bottom: 30px;
}

.item-title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.team-position {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
}

.social-links {
    display: flex;
}

.social-item+.social-item {
    margin-left: 10px;
}

.social-network {
    display: flex;
}

.social-network:hover {
    background-color: var(--hover-color);
}

.social-network:focus {
    background-color: var(--hover-color);
}

.social-network::after {
    content: '';
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.social-network.instagram::after {
    background-image: url(../img/social-networks/instagram.svg);
}

.social-network.twitter::after {
    background-image: url(../img/social-networks/twitter.svg);
}

.social-network.facebook::after {
    background-image: url(../img/social-networks/facebook.svg);
}

.social-network.linkedin::after {
    background-image: url(../img/social-networks/linkedin.svg);
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    margin-bottom: 50px;
    font-size: 36px;
}

.clients-list {
    display: flex;
}

.clients-item {
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.clients-item+.clients-item {
    margin-left: 30px;
}

.clients-item:hover {
    border: 1px solid var(--hover-color);
    color: #2196F3;
}

.clients-item:focus {
    border: 1px solid var(--hover-color);
}

.gallery-title,
.team-title,
.clients-title {
    font-size: 36px;
    text-align: center;
}

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.footer-address {
    font-style: normal;
}

.footer-item+.footer-item {
    margin-top: 9px;
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts,
.footer-location {
    font-weight: 400;
    line-height: 1.71;
}

.footer-col.low {
    margin-left: 70px;
    padding-top: 6px;
}

.footer-phrase,
.footer-location {
    color: #FFFFFF;
}

.footer-phrase {
    display: block;
    margin-bottom: 20px;
}

.footer-link {
    display: flex;
}

.footer-networks+.footer-networks {
    margin-left: 10px;
}

.footer-nav::after {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-position: center;
}

.footer-nav.instagram::after {
    background-image: url(../img/social-networks-wh/instagram-wh.svg);
}

.footer-nav.twitter::after {
    background-image: url(../img/social-networks-wh/twitter-wh.svg);
}

.footer-nav.facebook::after {
    background-image: url(../img/social-networks-wh/facebook-wh.svg);
}

.footer-nav.linkedin::after {
    background-image: url(../img/social-networks-wh/linkedin-wh.svg);
}

.feature-svg:hover,
.nav-img:hover,
.social-logo:hover {
    background-color: var(--hover-color);
}

.feature-svg:focus,
.nav-img:focus,
.social-logo:focus {
    background-color: var(--hover-color);
}