:root {
    --primary-txt-color:#212121;
    --secondary-txt-color:#757575;
    --primary-bgc:#FFFFFF;
    --secondary-bgc:#2F303A;
    --hover-color: #2196F3;
}

body {
    color: var(--primary-txt-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.contacts .contacts-link {
    color: var(--secondary-txt-color);
}
.header {
    font-weight: 500;
}
.header-nav .nav-link {
    color: inherit;
}
.header-nav .nav-link:hover,
.contacts .contacts-link:hover {
    color: var(--hover-color);
}

.header-nav .nav-link:focus,
.contacts .contacts-link:focus {
    color: var(--hover-color);
}
.hero {
    color: #FFFFFF;
    background-color: var(--secondary-bgc);
}
.hero-title {
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    line-height: 1.36;
    letter-spacing: 0.06em;
}
.button {
    color: #FFFFFF;
    background-color: var(--hover-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}
.feature-phrase,
.team-position {
    color: var(--secondary-txt-color);
}
.feature-phrase {
    font-weight: 400;
    line-height: 1.71;
}
.gallery-title,
.team-title{
    font-size: 36px;
}
.item-title {
    font-size: 16px;
    font-weight: 500;
}
.team-position {
    font-size: 16px;
    font-weight: 400;
}
.clients-title {
    font-size: 36px;
}
.footer-location,
.footer-contacts {
    font-weight: 400;
    line-height: 1.71;
}
.feature-svg {
    background-color: #F5F4FA;
}

.our-team {
    background-color:#F5F4FA;
}

.feature-svg:hover,
.nav-img:hover,
.social-logo:hover,           
.clients-logo:hover {
    background-color: var(--hover-color);
}

.feature-svg:focus,
.nav-img:focus, 
.social-logo:focus,          
.clients-logo:focus {
    background-color: var(--hover-color);
}

.footer {
    background-color: #2F303A;
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
}
.footer-location,
.footer-phrase {
    color: #FFFFFF;
}
.nav-link.current{
    color: var(--hover-color);
}

.footer-address {
    font-style: normal;
}

.nav-pages {
    letter-spacing: 0.02em;
}