:root {
    --primary-txt-color: #212121;
    --secondary-txt-color: #757575;
    --primary-bgc: #FFFFFF;
    --secondary-bgc: #2F303A;
    --hover-color: #2196F3;
}

body {
    color: var(--primary-txt-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}

.centered {
    display: flex;
    align-items: center;
}

.header {
    font-weight: 500;
    background-color: silver;
    width: 100%;
    top: 0;
    left: 0;
}

.header-nav .nav-link {
    color: inherit;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav .nav-link:hover,
.header-nav .nav-link:focus {
    color: var(--hover-color);
}

.nav-link.current {
    color: var(--hover-color);
}

.nav-link.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #2196F3;
}

.nav-link.secondary {
    position: relative;
}

.nav-link.secondary::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--hover-color);
    width: 100%;
    height: 4px;
    border-radius: 4px;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.secondary:hover::after,
.nav-link.secondary:focus::after {
    transform: scaleX(1);
}

.nav-pages {
    margin-left: 93px;
    letter-spacing: 0.02em;
}

.nav-pages .nav-item+.nav-item {
    margin-left: 50px;
}

.nav-item {
    position: relative;
}

.contacts.centered {
    margin-left: auto;
}

.contacts-item {
    display: flex;
    align-items: center;
}

.contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--hover-color);
}

.contacts-link:hover::after,
.contacts-link:focus::after {
    transform: scaleX(1);
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: var(--hover-color);
    fill: var(--hover-color);
}

.contacts.centered>.contacts-item+.contacts-item {
    margin-left: 50px;
}

.contacts-svg {
    margin-right: 10px;
    fill: currentColor;
}

.envelope {
    width: 16px;
    height: 12px;
}

.mobile {
    width: 10px;
    height: 16px;
}

.contacts .contacts-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-txt-color);
}

.hero {
    color: #FFFFFF;
    background-color: var(--secondary-bgc);
    height: 600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/headerbg.jpg);
}

.hero-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.button {
    min-width: 200px;
    color: #FFFFFF;
    background-color: #188CE8;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
}

.button:hover,
.button:focus {
    cursor: pointer;
}

.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
}

.feature-item {
    width: 270px;
}

.feature-item+.feature-item {
    margin-left: 30px;
}

.feature-svg {
    width: 70px;
    height: 70px;
}

.wrappper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
}

.feature-title {
    margin-bottom: 10px;
}

.feature-phrase,
.team-position {
    color: var(--secondary-txt-color);
}

.feature-phrase {
    margin-bottom: 94px;
    font-weight: 400;
    line-height: 1.71;
}

.gallery-title {
    margin-bottom: 50px;
}

.gallery-item+.gallery-item {
    margin-left: 30px;
}

.gallery-position {
    position: relative;
    width: 370px;
    height: 294px;
}

.gallery-phrase {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
}

.team-item+.team-item {
    margin-left: 30px;
}

.team-item {
    text-align: center;
    background-color: #fff;
}

.team-item {
    box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;
}

.team-member {
    margin-bottom: 30px;
}

.item-title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.team-position {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
}

.social-links {
    display: flex;
    margin: 0px 32px;
}

.social-item+.social-item {
    margin-left: 10px;
}

.social-network {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-bottom: 30px;
    fill: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network:hover,
.social-network:focus {
    fill: #FFFFFF;
    background-color: var(--hover-color);
}

.team-social-svg {
    width: 20px;
}

.team-social-svg.facebook {
    width: 10px;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    margin-bottom: 50px;
    font-size: 36px;
}

.clients-list {
    display: flex;
}

.clients-item {
    justify-content: center;
    width: 170px;
    height: 90px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #AFB1B8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item+.clients-item {
    margin-left: 30px;
}

.clients-item:hover,
.clients-item:focus {
    border: 1px solid var(--hover-color);
    color: #2196F3;
}

.clients-link {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    fill: var(--hover-color);
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
}

.gallery-title,
.team-title,
.clients-title {
    font-size: 36px;
    text-align: center;
}

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.footer-address {
    font-style: normal;
}

.footer-item+.footer-item {
    margin-top: 9px;
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts,
.footer-location {
    font-weight: 400;
    line-height: 1.71;
}

.footer-col.low {
    margin-left: 70px;
    padding-top: 6px;
}

.footer-phrase,
.footer-location {
    color: #FFFFFF;
}

.footer-phrase {
    display: block;
    margin-bottom: 20px;
}

.footer-link {
    display: flex;
}

.footer-networks+.footer-networks {
    margin-left: 10px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav:hover,
.footer-nav:focus {
    background-color: #2196F3;
}

.nav-img:hover,
.social-logo:hover,
.nav-img:focus,
.social-logo:focus {
    background-color: var(--hover-color);
}


/* CSS for 'Portfolio' page */

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-item {
    margin-left: 8px;
}

.filter-button {
    padding: 6px 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    border-color: transparent;
    border-radius: 4px;
    color: inherit;
    background-color: #F5F4FA;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .filter-button:hover,
.filter .filter-button:focus {
    color: #FFFFFF;
    background-color: var(--hover-color);
    box-shadow: 0px 2px 2px 0px #0000001F, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001A;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.cards-item {
    border: 1px solid #EEEEEE;
    margin-bottom: 30px;
    transform: scale(1.01);
}

.cards-item+.cards-item {
    margin-left: 30px;
}

.cards-item:nth-child(3n + 4) {
    margin-left: 0;
}

.cards-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.cards-item:hover,
.cards-item:focus {
    box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000F, 0px 1px 1px 0px #0000001F;
    cursor: pointer;
}

.wrapper-link {
    color: #212121;
}

.card-position {
    display: flex;
    position: relative;
    overflow: hidden;
}

.card-position::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-item:hover .card-position::before {
    transform: translateY(0);
}

.cards-img {
    margin-bottom: 20px;
}

.position-phrase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    color: #FFFFFF;
    line-height: 1.66;
    letter-spacing: 0.03em;
    font-size: 18px;
    font-weight: 400;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-item:hover .position-phrase {
    transform: translateY(0);
}

.cards-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.cards-phrase {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    color: var(--secondary-txt-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: #fff;
}