:root {
    --primary-txt-color:#212121;
    --secondary-txt-color:#757575;
    --primary-bgc:#FFFFFF;
    --secondary-bgc:#2F303A;
    --hover-color: #2196F3;
}

body {
    color: var(--primary-txt-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.contacts .contacts-link {
    color: var(--secondary-txt-color);
}
.header {
    font-weight: 500;
}
.header-nav .nav-link {
    color: inherit;
}
.header-nav .nav-link:hover,
.contacts .contacts-link:hover {
    color: var(--hover-color);
}
.header-nav .nav-link:focus,
.contacts .contacts-link:focus {
    color: var(--hover-color);
}
.filter-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
}
.filter .filter-button {
    color: inherit;
    background-color: #F5F4FA;
}
.filter .filter-button:hover {
    color: #FFFFFF;
    background-color: var(--hover-color)
}
.filter .filter-button:focus {
    color: #FFFFFF;
}
.cards-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.cards-phrase {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
}
.footer-location,
.footer-contacts {
    font-weight: 400;
    line-height: 1.71;
}
.footer {
    background-color: #2F303A;
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
}
.footer-location,
.footer-phrase {
    color: #FFFFFF;
}
.nav-img:hover {
    background-color: var(--hover-color);
}
.nav-link.current{
    color: var(--hover-color);
}.nav-pages {
    letter-spacing: 0.02em;
}
.footer-address {
    font-style: normal;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }