body {
    background-color: #FFFFFF;
    font-family: 'Roboto';
}

.header {
    width: 100%;
    height: 80px;
    display: inline;
    font-size: 14px;
}

.header-nav-links li {
    list-style-type: none;
    display: inline;
}

.header-contacts li {
    display: inline;
}

.header a {
    color: #000000;
}

.solutions {
    width: 100%;
    height: 600px;
    background-color: #2F303A;
    color: #FFFFFF;
    text-align: center;
}

.solutions a {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

.solutions h1 {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.features h3 {
    font-weight: 700;
    font-size: 14px;
}

.features p {
    color: #757575;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.our-team {
    background-color: #F5F4FA;
}

.our-team p {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

.footer {
    background-color: #2F303A;
}

.footer-address {
    font-style: normal;
}

.footer p {
    line-height: 1.71;
}

.city {
    color: #FFFFFF;
}

a:hover,
a:focus {
    color: #2196F3;
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

li {
    list-style-type: none;
}

p {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}


/* Страница 2 "Портфолио" */


.header-page-two {
    background-color: #2F303A;
}

.header-page-two a {
    text-decoration: none;
    color: #000000;
}

.filters li {
    line-height: 1.62;
    letter-spacing: 0.03em;
    display: inline;
}

.cards h2 {
    line-height: 2;
    letter-spacing: 0.06em;
}

.cards p {
    line-height: 1.87;
    letter-spacing: 0.03em;
}