.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    &__title {
        margin-bottom: 50px;
        font-size: 36px;
    }
    &__list {
        display: flex;
    }
    &__item {
        justify-content: center;
        width: 170px;
        height: 90px;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: #AFB1B8;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &+& {
            margin-left: 30px;
        }
        &:hover,
        &:focus {
            border: 1px solid $hover-color;
            color: #2196F3;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 90px;
        fill: #AFB1B8;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            fill: $hover-color;
        }
    }
}

.gallery-title,
.team-title,
.clients__title {
    font-size: 36px;
    text-align: center;
}