.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    &__item {
        width: 270px;
    }
    &__svg {
        width: 70px;
        height: 70px;
    }
    &__title {
        margin-bottom: 10px;
    }
    &__phrase {
        color: $secondary-txt-color;
        margin-bottom: 94px;
        font-weight: 400;
        line-height: 1.71;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
}

.team__position {
    color: $secondary-txt-color;
}

.gallery-title {
    margin-bottom: 50px;
}

.gallery__item+.gallery__item {
    margin-left: 30px;
}

.gallery-position {
    position: relative;
    width: 370px;
    height: 294px;
}

.gallery__phrase {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
}