.hero {
    color: #FFFFFF;
    background-color: $secondary-bgc;
    height: 600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/mobile-img/mobileherobgimg.jpg);
    &__title {
        width: 696px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.36;
        letter-spacing: 0.06em;
    }
    &__button {
        min-width: 200px;
        color: #FFFFFF;
        background-color: $hover-color;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.88;
        letter-spacing: 0.06em;
        padding: 10px 32px;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px #00000026;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            cursor: pointer;
            background-color: $hover-color;
        }
    }
}