.our-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team {
    &-title {
        margin-top: 0;
        margin-bottom: 50px;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
    }
    &__member {
        margin-bottom: 30px;
    }
    &__position {
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 400;
    }
}

.team__item {
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;
    &+& {
        margin-left: 30px;
    }
}

.item__title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.social {
    &-links {
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
        margin: 0px 32px;
        margin-bottom: 30px;
    }
    &__network {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: #AFB1B8;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            fill: #FFFFFF;
            background-color: $hover-color;
        }
    }
    &__svg {
        width: 20px;
        &.facebook {
            width: 10px;
        }
    }
}

.social__item+.social__item {
    margin-left: 10px;
}