.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    &__item {
        margin-left: 8px;
    }
    &__button {
        padding: 6px 22px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.63;
        border-color: transparent;
        border-radius: 4px;
        color: inherit;
        background-color: #F5F4FA;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__button:hover,
    &__button:focus {
        color: #FFFFFF;
        background-color: $hover-color;
        box-shadow: 0px 2px 2px 0px #0000001F, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001A;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    &__item {
        border: 1px solid #EEEEEE;
        margin-bottom: 30px;
        transform: scale(1.01);
        &:hover,
        &:focus {
            box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000F, 0px 1px 1px 0px #0000001F;
            cursor: pointer;
        }
        &+& {
            margin-left: 30px;
        }
        &:nth-child(3n+4) {
            margin-left: 0;
        }
        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }
    &__wrapper-link {
        color: #212121;
    }
    &__img {
        margin-bottom: 20px;
    }
    &__title {
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    &__phrase {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.88;
        color: $secondary-txt-color;
    }
}

.card-position {
    display: flex;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .cards__item:hover & {
            transform: translateY(0);
        }
    }
}

.position__phrase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    color: #FFFFFF;
    line-height: 1.66;
    letter-spacing: 0.03em;
    font-size: 18px;
    font-weight: 400;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .cards__item:hover & {
        transform: translateY(0);
    }
}