// Cтили для шапки
@media screen and (min-width: 320px) and (max-width: 359px) {
    .header {
        padding: 16px 0px;
    }
    
    .burger-btn, .mobile-menu__close-btn {
        margin-right: 10px;
    }
    // !!!!!Cделать!!!!!

    .mobile-menu {
        padding: 34px 30px;
    
        &__list {
            margin-bottom: 226px;
            font-size: 27px;
        }
        &__item:not(:last-child) {
            margin-bottom: 15px;
        }
        &__contacts-item:not(:last-child) {
            margin-bottom: 22px;
        }
        &__contacts-link {
            font-size: 17px;
        }
        &__contacts-link.phone {
            color: #2196F3;
            font-size: 24px;
        }
        &__socials-item {
            margin-right: 7px;
            padding-right: 7px;
        }
        &__socials-link {
            font-size: 12px;
        }
        
    }
    .contacts {
        display: none;
    }
}

@media screen and (min-width: 360px) and (max-width: 479px) {
    .header {
        padding: 16px 0px;
    }
    // .clients__list {
    //     display: none;
    // }
        .filter__item:not(:last-child) {
            margin-bottom: 10px;
        }
    .mobile-menu {
        padding: 38px 34px;
        
        &__list {
            margin-bottom: 225px;
            font-size: 30px;
        }
        &__item:not(:last-child) {
            margin-bottom: 15px;
        }
        &__contacts-item:not(:last-child) {
            margin-bottom: 22px;
        }
        &__contacts-link {
            font-size: 19px;
        }
        &__contacts-link.phone {
            color: #2196F3;
            font-size: 27px;
        }
        &__socials {
            margin-top: auto;
            justify-content: space-between;
        }
        &__socials-item {
            margin-right: 7px;
            padding-right: 7px;
        }
        &__socials-link {
            font-size: 13.5px;
        }
        
    }
    .contacts {
        display: none;
    }
    
}


@media screen and (min-width: 480px) and (max-width: 767px) {
    .header {
        padding: 16px 0px;
    }
    .container {
        width: 480px;
        margin: 0 auto;
    }
    .contacts {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .container {
        // ??
        min-width: 768px;
    }
    .centered {
        display: flex;
        align-items: center;
    }
    .menu__logo {
        padding: 24px 0px;
    }
    .menu__list,
    .menu__page,
    .contacts {
        display: block;
    }
    .menu__list.centered {
        display: flex;
        align-items: center;
    }
    .contacts__item:not(:last-child) {
        margin-bottom: 10px;
    }
    .burger-btn,
    .mobile-menu__close-btn {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        width: 100%;
        top: 0;
        left: 0;
        padding: 0;
    }
    .menu__logo {
        padding: 24px 0px;
    }
    .container {
        width: 1200px;
    }
    .contacts {
        display: flex;
    }
    .contacts__link {
        padding: 32px 0px;
    }
    .contacts__item:not(:last-child) {
        margin-bottom: 0px;
    }
    .contacts__item+.contacts__item {
        margin-left: 50px;
    }
}
// Cтили для шапки
// 
// 
// 
// Стили для футера
@media  screen and (min-width: 320px) and (max-width: 359px) {
    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .row {
        justify-content: center;
    }
    .footer-col {
        text-align: center;
    }
    .footer-col.low {
        margin-top: 30px;
        margin-left: 0;
        padding-top: 0;
        
    }
    .footer-form {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .footer-form__button {
        margin-top: 22px;
        margin-bottom: 10px;
        margin-left: 0;
    }
    .footer__input {
        width: 290px;
    }
}

@media  screen and (min-width: 360px) and (max-width: 479px) {
    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .row {
        justify-content: center;
    }
    .footer-col {
        text-align: center;
    }
    .footer-col.low {
        margin-top: 30px;
        margin-left: 0;
        padding-top: 0;
        
    }
    .footer-form {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .footer-form__button {
        margin-top: 22px;
        margin-bottom: 10px;
        margin-left: 0;
    }
    .footer__input {
        width: 330px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    
    .row {
        flex-direction: column;
    }
    .footer-col {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }
    .footer__logo {
        text-align: center;
    }
    .footer__address {
        text-align: center;
    }
    .footer-col.low {
        padding-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .footer__phrase {
        text-align: center;
    }
    .footer-form {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .footer-form__phrase {
        text-align: center;
    }
    .footer__input {
        margin-bottom: 20px;
        width: 450px;
    }
    .footer-form__button {
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-col {
        margin-left: 76px;
        text-align: center;
    }
    .footer-col.low {
        margin-left: 165px;
    }
    .footer-form {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
    .footer__input {
        width: 450px;
        margin-bottom: 20px;
    }
    .follow-form {
        display: flex;
        flex-direction: column;
    }
    .footer-form__button {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}

// Стили для футера
// 
// 
// 
// 
// 
// 
// Секция Hero
@media screen and (min-width: 320px) and (max-width: 359px) {
    .hero {
        height: 325px;
        padding-top: 118px;
        padding-bottom: 118px;
    }
    .hero__title {
        display: inline;
        font-size: 20px;
    }
    .hero__button {
        margin-top: 15px;
    }
}
@media screen and (min-width: 360px) and (max-width: 480px){
    .hero {
        height: 325px;
        padding-top: 118px;
        padding-bottom: 118px;
    }
    .hero__title {
        display: inline;
        font-size: 20px;
    }
    .hero__button {
        margin-top: 15px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .hero {
        padding-top: 118px;
        padding-bottom: 118px;
        height: 400px;
        background-color: $secondary-bgc;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/mobile-img/mobileherobgimg.jpg);
    }
    .hero__title {
        width: 360px;
        font-size: 26px;
        line-height: 1.61;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .hero {
        padding-top: 118px;
        padding-bottom: 118px;
        height: 400px;
        background-color: $secondary-bgc;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/tablet-img/tabletherobgimg.jpg);
        
    }
    .hero__title {
        // width: 360px;
        font-size: 26px;
        line-height: 1.61;
    }
}
@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/headerbg.jpg);
    }
}

// 
// 
// 
// Cтили для модального окна

@media screen and (min-width: 320px) and (max-width: 359px) {
    .modal {
        width: 290px;
        padding: 30px;
    }
    .modal__form-phrase {
        width: 225px;
        margin-bottom: 10px;
    }
    .form__field + .form__field {
        margin-top: 10px;
    }
    .button-close {
        width: 25px;
        height: 25px;
    }
    .sent {
        margin-top: 15px;
    }
    .policy {
        display: -webkit-inline-box;
    }
}
@media screen and (min-width: 360px) and (max-width: 479px) {
    .modal {
        width: 330px;
        padding: 30px;
    }
    .modal__form-phrase {
        width: 270px;
        margin-bottom: 10px;
    }
    .form__field + .form__field {
        margin-top: 10px;
    }
    .button-close {
        width: 25px;
        height: 25px;
    }
    .sent {
        margin-top: 20px;
    }
    .policy {
        display: -webkit-inline-box;
        padding-left: 25px;
    }
}




@media screen and (min-width: 480px) and (max-width: 767px) {
    .modal {
        width: 450px;
    }
    .policy {
        font-size: 12px;
    }
    .form-checkbox {
        padding-left: 0;
    }
}

// Cтили для модального окна
// 
// 
// 
// Стили для секции Особенности на странице Студия
@media screen and (min-width: 320px) and (max-width: 359px) {
    .features {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .gallery-title,
    .feature-list.gallery {
        display: none;
    }
    .feature-list {
        flex-direction: column;
    }
    .feature-list__item {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .feature-list__item+.feature-list__item {
        margin-left: auto;
        margin-right: auto;
    }
    .wrapper {
        width: 100%;
    }
    .feature-list__title {
        font-size: 14px;
        text-align: center;
    }
    .gallery-title,
    .feature-list.gallery {
        display: none;
    }
    .feature-list__phrase{
        margin-bottom: 15px;
    }
    
   
}
@media screen and (min-width: 360px) and (max-width: 479px) {
    .features {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .gallery-title,
    .feature-list.gallery {
        display: none;
    }

    .feature-list {
        flex-direction: column;
    }
    .feature-list__item {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .feature-list__item+.feature-list__item {
        margin-left: auto;
        margin-right: auto;
    }
    .wrapper {
        width: 100%;
    }
    .feature-list__title {
        font-size: 14px;
        text-align: center;
    }
    .gallery-title,
    .feature-list.gallery {
        display: none;
    }
    .feature-list__phrase {
        margin-bottom: 15px;
    }
    
    
}

@media screen and (min-width: 480px) and (max-width: 767px) {

    .features {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .feature-list {
        flex-direction: column;
    }
    .feature-list__item {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .feature-list__item+.feature-list__item {
        margin-left: auto;
        margin-right: auto;
    }
    .wrapper {
        width: 100%;
    }
    .feature-list__title {
        font-size: 14px;
        text-align: center;
    }
    .gallery-title,
    .feature-list.gallery {
        display: none;
    }
    .feature-list__phrase {
        margin-bottom: 30px;
    }
    .features {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .feature-list__item {
        width: 354px;
    }
    .feature-list__item:nth-child(2n + 1) {
        margin-right: 30px;
    }
    .wrapper {
        width: 100%;
    }
    .gallery-title,
    .feature-list.gallery {
        display: none;
    }
    .feature-list__phrase {
        margin-bottom: 60px;
    }
    .features {
        padding-top: 60px;
        padding-bottom: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .feature-list__item+.feature-list__item {
        margin-left: 30px;
    }
}

// Стили для секции Особенности на странице Студия
//
//
// 
// Стили для секции Наша Команда на странице Студия
@media screen and (min-width: 320px) and (max-width: 359px) {
    .our-team {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .team__item {
        width: 100%;
        margin-bottom: 30px;
    }
    .team__item+.team__item {
        margin-left: 0;
    }

    .social-links {
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
    }
    .team__member {
        width: 290px;
        height: 307px;
    }   
    .gallery-title, .team-title, .clients__title {
        font-size: 20px;
    } 
}
@media screen and (min-width: 360px) and (max-width: 479px){
    .our-team {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .team__item {
        width: 100%;
        margin-bottom: 30px;
    }
    .team__item+.team__item {
        margin-left: 0;
    }

    .social-links {
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
    }
    .team__member {
        width: 330px;
        height: 345px;
    }
    .gallery-title, .team-title, .clients__title {
        font-size: 20px;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    
    .team__item {
        width: 100%;
        margin-bottom: 30px;
    }
    .team__item+.team__item {
        margin-left: 0;
    }

    .social-links {
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
    }
    .gallery-title, .team-title, .clients__title {
        font-size: 28px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team__item:nth-child(2n + 1) {
        margin-left: 0px;
    }
    .team__item:nth-child(-n + 2) {
        margin-bottom: 30px;
    }
    .our-team {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .team__member {
        width: 354px;
        height: 374px;
    }
}
@media screen and (min-width: 1200px) {
    .team__member {
        width: 270px;
        height: 260px;
    }
}

// Стили для секции Наша Команда на странице Студия
//
// 
// 
//Cтили для секции Клиенты на странице Студия
@media screen and (min-width: 320px) and (max-width: 359px) {
    .clients__item {
        width: 137px;
    }
    .clients__link {
        width: 137px;
    }

    .clients {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .clients__title {
        font-size: 20px;    
        margin-bottom: 25px;
    }
    
    .clients__list {
        flex-wrap: wrap;
    }
    
    .clients__item+.clients__item {
        margin-left: 0;
    }
    .clients__item:nth-child(2n + 1) {
        margin-right: 15px;
    }
    .clients__item:nth-child(-n + 4) {
        margin-bottom: 15px;
    }
    
    
}

@media screen and (min-width: 360px) and (max-width: 479px) {
    .clients__item {
        width: 157px;
    }
    .clients__link {
        width: 157px;
    }

    .clients {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .clients__title {
        font-size: 20px;    
        margin-bottom: 25px;
    }
    
    .clients__list {
        flex-wrap: wrap;
    }
    
    .clients__item+.clients__item {
        margin-left: 0;
    }
    .clients__item:nth-child(2n + 1) {
        margin-right: 15px;
    }
    .clients__item:nth-child(-n + 4) {
        margin-bottom: 15px;
    }
    
}
// @media screen and (min-width: 320px) and (max-width: 359px)
// @media screen and (min-width: 360px) and (max-width: 479px)
@media screen and (min-width: 480px) and (max-width: 767px) {
    .clients {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .clients__title {
        font-size: 28px;
    }
    .clients__list {
        flex-wrap: wrap;
    }
    .clients__item {
        width: 210px;
    }
    .clients__item+.clients__item {
        margin-left: 0;
    }
    .clients__item:nth-child(2n + 1) {
        margin-right: 30px;
    }
    .clients__item:nth-child(-n + 4) {
        margin-bottom: 30px;
    }
    .clients__link {
        width: 210px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .clients {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .clients__title {
        font-size: 28px;
    }
    .clients__list {
        flex-wrap: wrap;
    }
    .clients__item {
        width: 226px;
    }
    .clients__item:nth-child(3n + 4) {
        margin-left: 0;
    }
    .clients__item:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
    }
}

//Cтили для секции Клиенты на странице Студия
// 
// 
// 
// Стили для секции Портфолио на странице Портфолио
@media screen and (min-width: 320px) and (max-width: 359px){
    .cards__img {
        width: 290px;
        height: 189px;
    }
    .filter__item:not(:last-child) {
        margin-bottom: 10px;
    }
    .cards__item:hover .card-position::before {
        display: none;
    }
    .position__phrase {
        display: none;
    }
    
    .cards__phrase {
        margin-bottom: 21px;
    }

}
@media screen and (min-width: 360px) and (max-width: 479px){
    .cards__img {
        width: 330px;
        height: 215px;
    }
    .cards__item:hover .card-position::before {
        display: none;
    }
    .position__phrase {
        display: none;
    }
}
@media screen and (min-width: 480px) and(max-width: 767px) {
    .portfolio {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .filter {
        flex-wrap: wrap;
    }
    .filter__item:not(:nth-last-child(-n+2)) {
        margin-bottom: 15px;
    }
    .cards__item+.cards__item {
        margin-left: 0;
    }
    .cards__img {
        width: 450px;
        height: 294px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .portfolio {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .filter {
        justify-content: center;
    }
    
    .cards__img {
        width: 354px;
        height: 294px;
    }
    .cards__item:nth-child(2n+1) {
        margin-right: 25px;
    }
}

@media screen and (min-width: 1200px) {
    .portfolio {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .filter {
        justify-content: center;
    }
    .cards__item+.cards__item {
        margin-left: 30px;
    }
    .cards__img {
        width: 365px;
        height: 294px;
    }
    .cards__item:nth-child(3n+4) {
        margin-left: 0;
    }
}
